.icon {
  font-size: 26px;
  cursor: pointer;
  color: rgb(233, 88, 73);
  transition: color 0.3s;
}

.icon:hover {
  opacity: 0.6;
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.brand-icon {
  /* margin-bottom: 40px; */
}

.icon-facebook {
  color: #0087fc;
}

.icon-github {
  color: #000;
}

/* .icon-eye {
  color: #1dbf32;
}

.icon-set {
  color: #b5b5b5;
}

.icon-home {
  color: #ffde85;
} */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.tech-icon {
  font-size: 35px;
  margin-right: 10px;
  margin-bottom: 0;
}

.js-icon {
  color: #fffc4a;
}

.node-icon {
  color: #378a07;
}

.html-icon {
  color: #c22b2b;
}

.css-icon {
  color: #006edb;
}

.sass-icon {
  color: #e31ec9;
}

.react-icon {
  color: #4877c2;
}

.git-icon {
  color: #ad001d;
}
